<section class="principle ">
  <div class='principle__container'>
    <div class="principle__row">
      <div class="principle__column js-area" data-translate="20%">

        <div class="principle__column-title _title">
          Базовые
          <span>принципы закупок</span>
        </div>
        <div class="principle__column-text">
          <p>Мы развиваем принцип справедливой и открытой конкуренции между поставщиками. Закупочные процедуры
            проводятся публично <br> с использованием электронной торговой площадки.</p>
        </div>

        <div data-spollers class="principle__spollers spollers">
          <details class="spollers__item">
            <summary class="spollers__title">Принципы закупок</summary>
            <div class="spollers__body">

              <ul>
                <li><a href="javascript:void(0);">
                    Гидравлические прессы и ножницы для резки и пакетирования лома черных и цветных металлов
                  </a></li>
                <li><a href="javascript:void(0);">
                    Мобильные перегружатели металлолома
                  </a></li>
                <li><a href="javascript:void(0);">
                    Автомобили – ломовозы с краново – манипуляторной установкой
                  </a></li>
                <li><a href="javascript:void(0);">
                    Автомобильная и специальная техника
                  </a></li>
                <li><a href="javascript:void(0);">
                    Грузоподъемная техника и оборудование
                  </a></li>
                <li><a href="javascript:void(0);">
                    Весы автомобильные и вагонные
                  </a></li>
                <li><a href="javascript:void(0);">
                    Трансформаторы высоковольтные
                  </a></li>
                <li><a href="javascript:void(0);">
                    Установки пожаротушения
                  </a></li>
                <li><a href="javascript:void(0);">
                    Грейферы, электромагниты
                  </a></li>
                <li><a href="javascript:void(0);">
                    Модульные здания
                  </a></li>
              </ul>

              <ul>
                <li><a href="javascript:void(0);">
                    Оборудование гидравлическое, пневматическое и запасные части к нему
                  </a></li>
                <li><a href="javascript:void(0);">
                    Запасные части к крановому оборудованию, дробильно-сортировочным установкам, гидравлическим прессам
                  </a></li>
                <li><a href="javascript:void(0);">
                    Нестандартное оборудование по чертежам
                  </a></li>
                <li><a href="javascript:void(0);">
                    Насосы, электродвигатели, редукторы
                  </a></li>
                <li><a href="javascript:void(0);">
                    Кабельная продукция
                  </a></li>
                <li><a href="javascript:void(0);">
                    Электротехнические изделия
                  </a></li>
                <li><a href="javascript:void(0);">
                    Контрольно – измерительные приборы
                  </a></li>
                <li><a href="javascript:void(0);">
                    Компьютерная и бытовая техника
                  </a></li>
                <li><a href="javascript:void(0);">
                    Оборудование газовое и сварочное
                  </a></li>
                <li><a href="javascript:void(0);">
                    Запасные части к спецтехнике
                  </a></li>
                <li><a href="javascript:void(0);">
                    Подшипники
                  </a></li>
              </ul>


              <ul>
                <li><a href="javascript:void(0);">Системы газоочистки</a></li>
                <li><a href="javascript:void(0);">Вентиляционное оборудование</a></li>
                <li><a href="javascript:void(0);">Арматура трубопроводная и запорная</a></li>
              </ul>

              <ul>
                <li><a href="javascript:void(0);">
                    Руда марганцевая
                  </a></li>
                <li><a href="javascript:void(0);">
                    Уголь марки Т и Д, коксовый орех
                  </a></li>
                <li><a href="javascript:void(0);">
                    Кварциты
                  </a></li>
                <li><a href="javascript:void(0);">
                    Шлак кремнийсодержащий
                  </a></li>
              </ul>


              <ul>
                <li><a href="javascript:void(0);">Огнеупорные материалы</a></li>
                <li><a href="javascript:void(0);">Масса электродная</a></li>
                <li><a href="javascript:void(0);">Полипропилен</a></li>
                <li><a href="javascript:void(0);">Горюче – смазочные материалы</a></li>
                <li><a href="javascript:void(0);">Металлопрокат</a></li>
                <li><a href="javascript:void(0);">Канаты, стропы, метизы</a></li>
                <li><a href="javascript:void(0);">Резино – технические изделия, рукава высокого давления</a></li>
                <li><a href="javascript:void(0);">Электроинструмент, пневмоинструмент ручной</a></li>
                <li><a href="javascript:void(0);"> Спецодежда и средства индивидуальной защиты</a></li>
                <li><a href="javascript:void(0);">Строительные и отделочные материалы</a></li>
                <li><a href="javascript:void(0);"> Хозяйственный инвентарь, мебель, канцелярские товары</a></li>
              </ul>
            </div>
          </details>
        </div>
      </div>

      <div class="principle__column js-area" data-translate="20%">

        <div class="principle__column-title _title">
          требования
          <span>к поставщикам</span>
        </div>
        <div class="principle__column-text">
          <p>В отношении всех поставщиков наши требования заключаются в поставке товара в строгом соответствии с
            качественными стандартами и в обозначенные сроки. Цена товара должна соответствовать рынку</p>

          <p>
            На этапе проведения конкурентной процедуры поставщик проходит процедуру квалификации.
          </p>
        </div>

        <div data-spollers class="principle__spollers spollers">
          <details class="spollers__item">
            <summary class="spollers__title">Перечень обязательных документов для прохождения квалификации</summary>
            <div class="spollers__body">

              <ul>
                <li><a href="javascript:void(0);">
                    Гидравлические прессы и ножницы для резки и пакетирования лома черных и цветных металлов
                  </a></li>
                <li><a href="javascript:void(0);">
                    Мобильные перегружатели металлолома
                  </a></li>
                <li><a href="javascript:void(0);">
                    Автомобили – ломовозы с краново – манипуляторной установкой
                  </a></li>
                <li><a href="javascript:void(0);">
                    Автомобильная и специальная техника
                  </a></li>
                <li><a href="javascript:void(0);">
                    Грузоподъемная техника и оборудование
                  </a></li>
                <li><a href="javascript:void(0);">
                    Весы автомобильные и вагонные
                  </a></li>
                <li><a href="javascript:void(0);">
                    Трансформаторы высоковольтные
                  </a></li>
                <li><a href="javascript:void(0);">
                    Установки пожаротушения
                  </a></li>
                <li><a href="javascript:void(0);">
                    Грейферы, электромагниты
                  </a></li>
                <li><a href="javascript:void(0);">
                    Модульные здания
                  </a></li>
              </ul>

              <ul>
                <li><a href="javascript:void(0);">
                    Оборудование гидравлическое, пневматическое и запасные части к нему
                  </a></li>
                <li><a href="javascript:void(0);">
                    Запасные части к крановому оборудованию, дробильно-сортировочным установкам, гидравлическим прессам
                  </a></li>
                <li><a href="javascript:void(0);">
                    Нестандартное оборудование по чертежам
                  </a></li>
                <li><a href="javascript:void(0);">
                    Насосы, электродвигатели, редукторы
                  </a></li>
                <li><a href="javascript:void(0);">
                    Кабельная продукция
                  </a></li>
                <li><a href="javascript:void(0);">
                    Электротехнические изделия
                  </a></li>
                <li><a href="javascript:void(0);">
                    Контрольно – измерительные приборы
                  </a></li>
                <li><a href="javascript:void(0);">
                    Компьютерная и бытовая техника
                  </a></li>
                <li><a href="javascript:void(0);">
                    Оборудование газовое и сварочное
                  </a></li>
                <li><a href="javascript:void(0);">
                    Запасные части к спецтехнике
                  </a></li>
                <li><a href="javascript:void(0);">
                    Подшипники
                  </a></li>
              </ul>


              <ul>
                <li><a href="javascript:void(0);">Системы газоочистки</a></li>
                <li><a href="javascript:void(0);">Вентиляционное оборудование</a></li>
                <li><a href="javascript:void(0);">Арматура трубопроводная и запорная</a></li>
              </ul>

              <ul>
                <li><a href="javascript:void(0);">
                    Руда марганцевая
                  </a></li>
                <li><a href="javascript:void(0);">
                    Уголь марки Т и Д, коксовый орех
                  </a></li>
                <li><a href="javascript:void(0);">
                    Кварциты
                  </a></li>
                <li><a href="javascript:void(0);">
                    Шлак кремнийсодержащий
                  </a></li>
              </ul>


              <ul>
                <li><a href="javascript:void(0);">Огнеупорные материалы</a></li>
                <li><a href="javascript:void(0);">Масса электродная</a></li>
                <li><a href="javascript:void(0);">Полипропилен</a></li>
                <li><a href="javascript:void(0);">Горюче – смазочные материалы</a></li>
                <li><a href="javascript:void(0);">Металлопрокат</a></li>
                <li><a href="javascript:void(0);">Канаты, стропы, метизы</a></li>
                <li><a href="javascript:void(0);">Резино – технические изделия, рукава высокого давления</a></li>
                <li><a href="javascript:void(0);">Электроинструмент, пневмоинструмент ручной</a></li>
                <li><a href="javascript:void(0);"> Спецодежда и средства индивидуальной защиты</a></li>
                <li><a href="javascript:void(0);">Строительные и отделочные материалы</a></li>
                <li><a href="javascript:void(0);"> Хозяйственный инвентарь, мебель, канцелярские товары</a></li>
              </ul>
            </div>
          </details>
        </div>

        <div class="principle__column-text">
          <p>При заключении договора поставщиком предоставляется перечень документов для его проверки на благонадежность
            (копии):</p>
        </div>

        <div data-spollers class="principle__spollers spollers">
          <details class="spollers__item">
            <summary class="spollers__title">Перечень документов для заключения договора</summary>
            <div class="spollers__body">

              <ul>
                <li><a href="javascript:void(0);">
                    Гидравлические прессы и ножницы для резки и пакетирования лома черных и цветных металлов
                  </a></li>
                <li><a href="javascript:void(0);">
                    Мобильные перегружатели металлолома
                  </a></li>
                <li><a href="javascript:void(0);">
                    Автомобили – ломовозы с краново – манипуляторной установкой
                  </a></li>
                <li><a href="javascript:void(0);">
                    Автомобильная и специальная техника
                  </a></li>
                <li><a href="javascript:void(0);">
                    Грузоподъемная техника и оборудование
                  </a></li>
                <li><a href="javascript:void(0);">
                    Весы автомобильные и вагонные
                  </a></li>
                <li><a href="javascript:void(0);">
                    Трансформаторы высоковольтные
                  </a></li>
                <li><a href="javascript:void(0);">
                    Установки пожаротушения
                  </a></li>
                <li><a href="javascript:void(0);">
                    Грейферы, электромагниты
                  </a></li>
                <li><a href="javascript:void(0);">
                    Модульные здания
                  </a></li>
              </ul>

              <ul>
                <li><a href="javascript:void(0);">
                    Оборудование гидравлическое, пневматическое и запасные части к нему
                  </a></li>
                <li><a href="javascript:void(0);">
                    Запасные части к крановому оборудованию, дробильно-сортировочным установкам, гидравлическим прессам
                  </a></li>
                <li><a href="javascript:void(0);">
                    Нестандартное оборудование по чертежам
                  </a></li>
                <li><a href="javascript:void(0);">
                    Насосы, электродвигатели, редукторы
                  </a></li>
                <li><a href="javascript:void(0);">
                    Кабельная продукция
                  </a></li>
                <li><a href="javascript:void(0);">
                    Электротехнические изделия
                  </a></li>
                <li><a href="javascript:void(0);">
                    Контрольно – измерительные приборы
                  </a></li>
                <li><a href="javascript:void(0);">
                    Компьютерная и бытовая техника
                  </a></li>
                <li><a href="javascript:void(0);">
                    Оборудование газовое и сварочное
                  </a></li>
                <li><a href="javascript:void(0);">
                    Запасные части к спецтехнике
                  </a></li>
                <li><a href="javascript:void(0);">
                    Подшипники
                  </a></li>
              </ul>


              <ul>
                <li><a href="javascript:void(0);">Системы газоочистки</a></li>
                <li><a href="javascript:void(0);">Вентиляционное оборудование</a></li>
                <li><a href="javascript:void(0);">Арматура трубопроводная и запорная</a></li>
              </ul>

              <ul>
                <li><a href="javascript:void(0);">
                    Руда марганцевая
                  </a></li>
                <li><a href="javascript:void(0);">
                    Уголь марки Т и Д, коксовый орех
                  </a></li>
                <li><a href="javascript:void(0);">
                    Кварциты
                  </a></li>
                <li><a href="javascript:void(0);">
                    Шлак кремнийсодержащий
                  </a></li>
              </ul>


              <ul>
                <li><a href="javascript:void(0);">Огнеупорные материалы</a></li>
                <li><a href="javascript:void(0);">Масса электродная</a></li>
                <li><a href="javascript:void(0);">Полипропилен</a></li>
                <li><a href="javascript:void(0);">Горюче – смазочные материалы</a></li>
                <li><a href="javascript:void(0);">Металлопрокат</a></li>
                <li><a href="javascript:void(0);">Канаты, стропы, метизы</a></li>
                <li><a href="javascript:void(0);">Резино – технические изделия, рукава высокого давления</a></li>
                <li><a href="javascript:void(0);">Электроинструмент, пневмоинструмент ручной</a></li>
                <li><a href="javascript:void(0);"> Спецодежда и средства индивидуальной защиты</a></li>
                <li><a href="javascript:void(0);">Строительные и отделочные материалы</a></li>
                <li><a href="javascript:void(0);"> Хозяйственный инвентарь, мебель, канцелярские товары</a></li>
              </ul>
            </div>
          </details>
        </div>
      </div>

      <div class="principle__column js-area" data-translate="20%">

        <div class="principle__column-title _title">
          перечень
          <span>закупаемых товаров </span>
        </div>
        <div class="principle__column-text">
          <p>Номенклатурные группы закупаемых товаров</p>
        </div>

        <div data-spollers class="principle__spollers spollers">
          <details class="spollers__item">
            <summary class="spollers__title">Перечень групп закупаемых товаров и услуг</summary>
            <div class="spollers__body">

              <ul>
                <li><a href="javascript:void(0);">
                    Гидравлические прессы и ножницы для резки и пакетирования лома черных и цветных металлов
                  </a></li>
                <li><a href="javascript:void(0);">
                    Мобильные перегружатели металлолома
                  </a></li>
                <li><a href="javascript:void(0);">
                    Автомобили – ломовозы с краново – манипуляторной установкой
                  </a></li>
                <li><a href="javascript:void(0);">
                    Автомобильная и специальная техника
                  </a></li>
                <li><a href="javascript:void(0);">
                    Грузоподъемная техника и оборудование
                  </a></li>
                <li><a href="javascript:void(0);">
                    Весы автомобильные и вагонные
                  </a></li>
                <li><a href="javascript:void(0);">
                    Трансформаторы высоковольтные
                  </a></li>
                <li><a href="javascript:void(0);">
                    Установки пожаротушения
                  </a></li>
                <li><a href="javascript:void(0);">
                    Грейферы, электромагниты
                  </a></li>
                <li><a href="javascript:void(0);">
                    Модульные здания
                  </a></li>
              </ul>

              <ul>
                <li><a href="javascript:void(0);">
                    Оборудование гидравлическое, пневматическое и запасные части к нему
                  </a></li>
                <li><a href="javascript:void(0);">
                    Запасные части к крановому оборудованию, дробильно-сортировочным установкам, гидравлическим прессам
                  </a></li>
                <li><a href="javascript:void(0);">
                    Нестандартное оборудование по чертежам
                  </a></li>
                <li><a href="javascript:void(0);">
                    Насосы, электродвигатели, редукторы
                  </a></li>
                <li><a href="javascript:void(0);">
                    Кабельная продукция
                  </a></li>
                <li><a href="javascript:void(0);">
                    Электротехнические изделия
                  </a></li>
                <li><a href="javascript:void(0);">
                    Контрольно – измерительные приборы
                  </a></li>
                <li><a href="javascript:void(0);">
                    Компьютерная и бытовая техника
                  </a></li>
                <li><a href="javascript:void(0);">
                    Оборудование газовое и сварочное
                  </a></li>
                <li><a href="javascript:void(0);">
                    Запасные части к спецтехнике
                  </a></li>
                <li><a href="javascript:void(0);">
                    Подшипники
                  </a></li>
              </ul>


              <ul>
                <li><a href="javascript:void(0);">Системы газоочистки</a></li>
                <li><a href="javascript:void(0);">Вентиляционное оборудование</a></li>
                <li><a href="javascript:void(0);">Арматура трубопроводная и запорная</a></li>
              </ul>

              <ul>
                <li><a href="javascript:void(0);">
                    Руда марганцевая
                  </a></li>
                <li><a href="javascript:void(0);">
                    Уголь марки Т и Д, коксовый орех
                  </a></li>
                <li><a href="javascript:void(0);">
                    Кварциты
                  </a></li>
                <li><a href="javascript:void(0);">
                    Шлак кремнийсодержащий
                  </a></li>
              </ul>


              <ul>
                <li><a href="javascript:void(0);">Огнеупорные материалы</a></li>
                <li><a href="javascript:void(0);">Масса электродная</a></li>
                <li><a href="javascript:void(0);">Полипропилен</a></li>
                <li><a href="javascript:void(0);">Горюче – смазочные материалы</a></li>
                <li><a href="javascript:void(0);">Металлопрокат</a></li>
                <li><a href="javascript:void(0);">Канаты, стропы, метизы</a></li>
                <li><a href="javascript:void(0);">Резино – технические изделия, рукава высокого давления</a></li>
                <li><a href="javascript:void(0);">Электроинструмент, пневмоинструмент ручной</a></li>
                <li><a href="javascript:void(0);"> Спецодежда и средства индивидуальной защиты</a></li>
                <li><a href="javascript:void(0);">Строительные и отделочные материалы</a></li>
                <li><a href="javascript:void(0);"> Хозяйственный инвентарь, мебель, канцелярские товары</a></li>
              </ul>
            </div>
          </details>
        </div>
      </div>
    </div>
  </div>
</section>