<section class="ecology js-area">
	<div class='ecology__container tabs' data-tabs data-tabs-animate="800">
		<div class="ecology__top">
			<h2 class="ecology__title _title">проекты</h2>
			<div class="ecology__inner">
				<nav class="ecology__list tabs__navigation" data-tabs-titles>
					<button type="button" class="ecology__link tabs__title _tab-active">Экология</button>
					<button type="button" class="ecology__link tabs__title">Социальное развитие</button>
					<button type="button" class="ecology__link tabs__title">Охрана труда и корпоративное управление</button>
				</nav>
			</div>
		</div>
		<div class="ecology__row tabs__content" data-tabs-body>
			<div class="ecology__column tabs__body">
				<div class="ecology__slider swiper js-slider-ecology">
					<div class="ecology__swiper swiper-wrapper">
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Производство <br> полного цикла
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/01-s.webp, ./img/ecology/01-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/01-m.webp, ./img/ecology/01-m@2x.webp 2x">
									<img src="./img/ecology/01.webp" srcset="./img/ecology/01@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Проекты по озеленению
								</div>
								<div class="ecology__slide-text">
									Сеть франчайзи СГМК. Занимается сбором и переработкой отходов лома черных и цветных металлов.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/02-s.webp, ./img/ecology/02-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/02-m.webp, ./img/ecology/02-m@2x.webp 2x">
									<img src="./img/ecology/02.webp" srcset="./img/ecology/02@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Переработка отходов производства
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/03-s.webp, ./img/ecology/03-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/03-m.webp, ./img/ecology/03-m@2x.webp 2x">
									<img src="./img/ecology/03.webp" srcset="./img/ecology/03@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>

						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Производство полного цикла
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/01-s.webp, ./img/ecology/01-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/01-m.webp, ./img/ecology/01-m@2x.webp 2x">
									<img src="./img/ecology/01.webp" srcset="./img/ecology/01@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Проекты по озеленению
								</div>
								<div class="ecology__slide-text">
									Сеть франчайзи СГМК. Занимается сбором и переработкой отходов лома черных и цветных металлов.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/02-s.webp, ./img/ecology/02-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/02-m.webp, ./img/ecology/02-m@2x.webp 2x">
									<img src="./img/ecology/02.webp" srcset="./img/ecology/02@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Переработка отходов производства
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/03-s.webp, ./img/ecology/03-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/03-m.webp, ./img/ecology/03-m@2x.webp 2x">
									<img src="./img/ecology/03.webp" srcset="./img/ecology/03@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>

					</div>
					<div class="ecology__arrows swiper__arrows">
						<button type="button" class="ecology__arrow ecology__arrow--prev swiper__arrow swiper__arrow--prev" style='--icon:url("../img/icons/01.svg")'></button>
						<button type="button" class="ecology__arrow ecology__arrow--next swiper__arrow swiper__arrow--next" style='--icon:url("../img/icons/02.svg")'></button>
					</div>
				</div>
			</div>
			<div class="ecology__column tabs__body">
				<div class="ecology__slider swiper js-slider-ecology">
					<div class="ecology__swiper swiper-wrapper">
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Производство <br> полного цикла
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/01-s.webp, ./img/ecology/01-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/01-m.webp, ./img/ecology/01-m@2x.webp 2x">
									<img src="./img/ecology/01.webp" srcset="./img/ecology/01@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Проекты по озеленению
								</div>
								<div class="ecology__slide-text">
									Сеть франчайзи СГМК. Занимается сбором и переработкой отходов лома черных и цветных металлов.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/02-s.webp, ./img/ecology/02-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/02-m.webp, ./img/ecology/02-m@2x.webp 2x">
									<img src="./img/ecology/02.webp" srcset="./img/ecology/02@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Переработка отходов производства
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/03-s.webp, ./img/ecology/03-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/03-m.webp, ./img/ecology/03-m@2x.webp 2x">
									<img src="./img/ecology/03.webp" srcset="./img/ecology/03@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>

						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Производство полного цикла
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/01-s.webp, ./img/ecology/01-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/01-m.webp, ./img/ecology/01-m@2x.webp 2x">
									<img src="./img/ecology/01.webp" srcset="./img/ecology/01@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Проекты по озеленению
								</div>
								<div class="ecology__slide-text">
									Сеть франчайзи СГМК. Занимается сбором и переработкой отходов лома черных и цветных металлов.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/02-s.webp, ./img/ecology/02-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/02-m.webp, ./img/ecology/02-m@2x.webp 2x">
									<img src="./img/ecology/02.webp" srcset="./img/ecology/02@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Переработка отходов производства
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/03-s.webp, ./img/ecology/03-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/03-m.webp, ./img/ecology/03-m@2x.webp 2x">
									<img src="./img/ecology/03.webp" srcset="./img/ecology/03@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>

					</div>
					<div class="ecology__arrows swiper__arrows">
						<button type="button" class="ecology__arrow ecology__arrow--prev swiper__arrow swiper__arrow--prev" style='--icon:url("../img/icons/01.svg")'></button>
						<button type="button" class="ecology__arrow ecology__arrow--next swiper__arrow swiper__arrow--next" style='--icon:url("../img/icons/02.svg")'></button>
					</div>
				</div>
			</div>
			<div class="ecology__column tabs__body">
				<div class="ecology__slider swiper js-slider-ecology">
					<div class="ecology__swiper swiper-wrapper">
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Производство <br> полного цикла
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/01-s.webp, ./img/ecology/01-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/01-m.webp, ./img/ecology/01-m@2x.webp 2x">
									<img src="./img/ecology/01.webp" srcset="./img/ecology/01@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Проекты по озеленению
								</div>
								<div class="ecology__slide-text">
									Сеть франчайзи СГМК. Занимается сбором и переработкой отходов лома черных и цветных металлов.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/02-s.webp, ./img/ecology/02-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/02-m.webp, ./img/ecology/02-m@2x.webp 2x">
									<img src="./img/ecology/02.webp" srcset="./img/ecology/02@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Переработка отходов производства
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/03-s.webp, ./img/ecology/03-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/03-m.webp, ./img/ecology/03-m@2x.webp 2x">
									<img src="./img/ecology/03.webp" srcset="./img/ecology/03@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>

						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Производство полного цикла
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/01-s.webp, ./img/ecology/01-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/01-m.webp, ./img/ecology/01-m@2x.webp 2x">
									<img src="./img/ecology/01.webp" srcset="./img/ecology/01@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Проекты по озеленению
								</div>
								<div class="ecology__slide-text">
									Сеть франчайзи СГМК. Занимается сбором и переработкой отходов лома черных и цветных металлов.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/02-s.webp, ./img/ecology/02-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/02-m.webp, ./img/ecology/02-m@2x.webp 2x">
									<img src="./img/ecology/02.webp" srcset="./img/ecology/02@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>
						<a href="javascript:void(0);" class="ecology__slide swiper-slide">
							<div class="ecology__slide-content">
								<div class="ecology__slide-title">
									Переработка отходов производства
								</div>
								<div class="ecology__slide-text">
									Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
									всех
									принципов ESG повестки, использует технологии опережающего развития.
								</div>
							</div>
							<div class="ecology__slide-img">
								<picture>
									<source media="(max-width: 767px)" srcset="./img/ecology/03-s.webp, ./img/ecology/03-s@2x.webp 2x">
									<source media="(max-width: 992px)" srcset="./img/ecology/03-m.webp, ./img/ecology/03-m@2x.webp 2x">
									<img src="./img/ecology/03.webp" srcset="./img/ecology/03@2x.webp 2x" alt="">
								</picture>
							</div>
						</a>

					</div>
					<div class="ecology__arrows swiper__arrows">
						<button type="button" class="ecology__arrow ecology__arrow--prev swiper__arrow swiper__arrow--prev" style='--icon:url("../img/icons/01.svg")'></button>
						<button type="button" class="ecology__arrow ecology__arrow--next swiper__arrow swiper__arrow--next" style='--icon:url("../img/icons/02.svg")'></button>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>