<section class="certificate">
  <div class='certificate__container'>
    <div class="certificate__title _titleTwo">Сертификаты соответствия продукции</div>
    <div class="certificate__slider swiper js-slider-certificate">
      <div class="certificate__swiper swiper-wrapper">
        <a href="./img/certificate/02.webp" data-fslightbox="gallery01" class="certificate__slide swiper-slide">
          <div class="certificate__img">
            <picture>
              <source media="(max-width: 767px)"
                srcset="./img/certificate/01-s.webp, ./img/certificate/01-s@2x.webp 2x">
              <source media="(max-width: 992px)"
                srcset="./img/certificate/01-m.webp, ./img/certificate/01-m@2x.webp 2x">
              <img src="./img/certificate/01.webp" srcset="./img/certificate/01@2x.webp 2x" alt="">
            </picture>
          </div>
        </a>
        <a href="./img/certificate/02.webp" data-fslightbox="gallery01" class="certificate__slide swiper-slide">
          <div class="certificate__img">
            <picture>
              <source media="(max-width: 767px)"
                srcset="./img/certificate/01-s.webp, ./img/certificate/01-s@2x.webp 2x">
              <source media="(max-width: 992px)"
                srcset="./img/certificate/01-m.webp, ./img/certificate/01-m@2x.webp 2x">
              <img src="./img/certificate/01.webp" srcset="./img/certificate/01@2x.webp 2x" alt="">
            </picture>
          </div>
        </a>
        <a href="./img/certificate/02.webp" data-fslightbox="gallery01" class="certificate__slide swiper-slide">
          <div class="certificate__img">
            <picture>
              <source media="(max-width: 767px)"
                srcset="./img/certificate/01-s.webp, ./img/certificate/01-s@2x.webp 2x">
              <source media="(max-width: 992px)"
                srcset="./img/certificate/01-m.webp, ./img/certificate/01-m@2x.webp 2x">
              <img src="./img/certificate/01.webp" srcset="./img/certificate/01@2x.webp 2x" alt="">
            </picture>
          </div>
        </a>
        <a href="./img/certificate/02.webp" data-fslightbox="gallery01" class="certificate__slide swiper-slide">
          <div class="certificate__img">
            <picture>
              <source media="(max-width: 767px)"
                srcset="./img/certificate/01-s.webp, ./img/certificate/01-s@2x.webp 2x">
              <source media="(max-width: 992px)"
                srcset="./img/certificate/01-m.webp, ./img/certificate/01-m@2x.webp 2x">
              <img src="./img/certificate/01.webp" srcset="./img/certificate/01@2x.webp 2x" alt="">
            </picture>
          </div>
        </a>
        <a href="./img/certificate/02.webp" data-fslightbox="gallery01" class="certificate__slide swiper-slide">
          <div class="certificate__img">
            <picture>
              <source media="(max-width: 767px)"
                srcset="./img/certificate/01-s.webp, ./img/certificate/01-s@2x.webp 2x">
              <source media="(max-width: 992px)"
                srcset="./img/certificate/01-m.webp, ./img/certificate/01-m@2x.webp 2x">
              <img src="./img/certificate/01.webp" srcset="./img/certificate/01@2x.webp 2x" alt="">
            </picture>
          </div>
        </a>
        <a href="./img/certificate/02.webp" data-fslightbox="gallery01" class="certificate__slide swiper-slide">
          <div class="certificate__img">
            <picture>
              <source media="(max-width: 767px)"
                srcset="./img/certificate/01-s.webp, ./img/certificate/01-s@2x.webp 2x">
              <source media="(max-width: 992px)"
                srcset="./img/certificate/01-m.webp, ./img/certificate/01-m@2x.webp 2x">
              <img src="./img/certificate/01.webp" srcset="./img/certificate/01@2x.webp 2x" alt="">
            </picture>
          </div>
        </a>
        <a href="./img/certificate/02.webp" data-fslightbox="gallery01" class="certificate__slide swiper-slide">
          <div class="certificate__img">
            <picture>
              <source media="(max-width: 767px)"
                srcset="./img/certificate/01-s.webp, ./img/certificate/01-s@2x.webp 2x">
              <source media="(max-width: 992px)"
                srcset="./img/certificate/01-m.webp, ./img/certificate/01-m@2x.webp 2x">
              <img src="./img/certificate/01.webp" srcset="./img/certificate/01@2x.webp 2x" alt="">
            </picture>
          </div>
        </a>
        <a href="./img/certificate/02.webp" data-fslightbox="gallery01" class="certificate__slide swiper-slide">
          <div class="certificate__img">
            <picture>
              <source media="(max-width: 767px)"
                srcset="./img/certificate/01-s.webp, ./img/certificate/01-s@2x.webp 2x">
              <source media="(max-width: 992px)"
                srcset="./img/certificate/01-m.webp, ./img/certificate/01-m@2x.webp 2x">
              <img src="./img/certificate/01.webp" srcset="./img/certificate/01@2x.webp 2x" alt="">
            </picture>
          </div>
        </a>
        <a href="./img/certificate/02.webp" data-fslightbox="gallery01" class="certificate__slide swiper-slide">
          <div class="certificate__img">
            <picture>
              <source media="(max-width: 767px)"
                srcset="./img/certificate/01-s.webp, ./img/certificate/01-s@2x.webp 2x">
              <source media="(max-width: 992px)"
                srcset="./img/certificate/01-m.webp, ./img/certificate/01-m@2x.webp 2x">
              <img src="./img/certificate/01.webp" srcset="./img/certificate/01@2x.webp 2x" alt="">
            </picture>
          </div>
        </a>
      </div>
      <div class="certificate__arrows swiper__arrows">
        <button type="button" class="certificate__arrow certificate__arrow--prev swiper__arrow swiper__arrow--prev"
          style='--icon:url("../img/icons/01.svg")'></button>
        <button type="button" class="certificate__arrow certificate__arrow--next swiper__arrow swiper__arrow--next"
          style='--icon:url("../img/icons/02.svg")'></button>
      </div>
    </div>
  </div>
</section>