@use "sass:math";

// Подключения миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключения шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін

// Подключить, если есть локальные файлы шрифтов
@import "fonts/fonts";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily:
  "manrope",
  -apple-system,
  BlinkMacSystemFont,
  Roboto,
  Ubuntu,
  "Droid Sans",
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji";
$fontSecondary:
  "heliosext",
  sans-serif,
  -apple-system,
  BlinkMacSystemFont,
  Roboto,
  Ubuntu,
  "Droid Sans",
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji";
$fontSize: rem(14);

// Основной цвет
$mainColor: cl(text);

// Цвета
@import "base/colors-palette";

// Сетка  ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1439.98;
// Загальний відступ у контейнера
$containerPadding: 80;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

$xl: em(1365.98); // ПК, ноутбуки
$l: em(1199.98); // ПК
$pc: em($maxWidthContainer); // ПК, ноутбуки

$tablet: em(991.98); // Планшети
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
$time: 0.3s; // Тайминг на анимацию transition
$time-2: 0.5s; // Тайминг на анимацию transition

$tr: ease-out; // Тип на анимации на transition
$tr-2: linear; // Тип на анимации на transition

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуленние ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";
.page {
  &:not(.page--no-indent) {
    padding-top: 124px;
    @media (max-width: $tablet) {
      padding-top: 108px;
    }
    @media (max-width: $mobile) {
      padding-top: 104px;
    }
  }
}
// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }

  .loaded & {
  }
  &::-webkit-scrollbar {
    height: 5px;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: cl(scroll-bg);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: cl(alt);
  }
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  // Прижимаем
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
  --pad: 40px;
  --pad-neg: -40px;

  @media (max-width: $tablet) {
    --pad: 20px;
    --pad-neg: -20px;
  }
  @media (max-width: $mobile) {
    --pad: 16px;
    --pad-neg: -16px;
  }
}
::selection {
  color: cl(whte);
  background: cl(yllow);
}
// Еонтейнер ======================================================================================================================================================================================================================

[class*="__container"] {
  max-width: calc(rem($maxWidthContainer));
  box-sizing: border-box;
  padding: 0 var(--pad);
  margin: 0 auto;
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомагательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";
@import "imports";
