<section class="prospects">
  <div class='prospects__container'>
    <div class="prospects__top">
      <h2 class="prospects__title _title">виды продукции</h2>
      <a href="javascript:void(0);" class="prospects__link btn" data-da=".prospects__container, 767, last">Перейти в
        каталог продукции</a>
    </div>
    <div class="prospects__row">
      <a href="javascript:void(0);" class="prospects__column">
        <div class="prospects__column-img">
          <picture>
            <source media="(max-width: 767px)" srcset="./img/prospects/01-m.webp, ./img/prospects/01-s@2x.webp 2x">
            <source media="(max-width: 992px)" srcset="./img/prospects/01-m.webp, ./img/prospects/01-m@2x.webp 2x">
            <img src="./img/prospects/01.webp" srcset="./img/prospects/01@2x.webp 2x" alt="">
          </picture>
        </div>
        <div class="prospects__column-title">
          Сплав алюминий <br> вторичный
        </div>
        <div class="prospects__column-link">
          Заказать
        </div>
      </a>
      <a href="javascript:void(0);" class="prospects__column">
        <div class="prospects__column-img">
          <picture>
            <source media="(max-width: 767px)" srcset="./img/prospects/02-m.webp, ./img/prospects/02-s@2x.webp 2x">
            <source media="(max-width: 992px)" srcset="./img/prospects/02-m.webp, ./img/prospects/02-m@2x.webp 2x">
            <img src="./img/prospects/01.webp" srcset="./img/prospects/02@2x.webp 2x" alt="">
          </picture>
        </div>
        <div class="prospects__column-title">
          чушка <br> мелкая
        </div>
        <div class="prospects__column-link">
          Заказать
        </div>
      </a>
      <a href="javascript:void(0);" class="prospects__column">
        <div class="prospects__column-img">
          <picture>
            <source media="(max-width: 767px)" srcset="./img/prospects/03-s.webp, ./img/prospects/03-s@2x.webp 2x">
            <source media="(max-width: 992px)" srcset="./img/prospects/03-m.webp, ./img/prospects/03-m@2x.webp 2x">
            <img src="./img/prospects/03.webp" srcset="./img/prospects/03@2x.webp 2x" alt="">
          </picture>
        </div>
        <div class="prospects__column-title">
          Чушка <br>крупная
        </div>
        <div class="prospects__column-link">
          Заказать
        </div>
      </a>
    </div>
  </div>
</section>