<section class="activity js-area">
	<div class='activity__container'>
		<h2 class="activity__title _title">
			Деятельность
			<span>экомет</span>
		</h2>
		<div class="activity__inner">
			<div class="activity__content">
				<div class="activity__text">
					Завод оснащён современным оборудованием и выпускает только качественные сплавы, отвечающие
					международным стандартам качества.
				</div>
				<div class="activity__items">
					<div class="activity__item">
						<div class="activity__item-top">
							12 000 <small>тонн</small>
						</div>
						<div class="activity__item-text">
							Объем производственной мощности
						</div>
					</div>

					<div class="activity__item">
						<div class="activity__item-top">
							>9 000 <small>тонн</small>
						</div>
						<div class="activity__item-text">
							Объем переработанного алюминиевого лома
						</div>
					</div>

					<div class="activity__item">
						<div class="activity__item-top">
							>6 000 <small>тонн</small>
						</div>
						<div class="activity__item-text">
							Объём отгрузки готовой продукции
						</div>
					</div>
				</div>
			</div>
			<div class="activity__img">
				<picture>
					<source media="(max-width: 767px)" srcset="./img/activity/01-m.webp, ./img/activity/01-s@2x.webp 2x">
					<source media="(max-width: 992px)" srcset="./img/activity/01-m.webp, ./img/activity/01-m@2x.webp 2x">
					<img src="./img/activity/01.webp" srcset="./img/activity/01@2x.webp 2x" alt="">
				</picture>
			</div>
		</div>
	</div>
</section>