<section class="connection">
  <div class='connection__container'>
    <div class="connection__content">
      <div class="connection__title">Есть вопросы по товарам?</div>
      <div class="connection__text">
        Свяжитесь с нашим отделом запаса <br> для уточнения деталей
      </div>
      <ul class="connection__list">
        <li><a href="tel:+73843749058" class="connection__link">+ 7 (3843) 74-90-58</a></li>
        <li><a href="mailto:example@sgmk.com" class="connection__link">example@sgmk.com</a></li>
      </ul>
    </div>
  </div>
</section>