<section class="supply js-area">
  <div class='supply__container'>
    <h2 class="supply__title _title">
      поставляем продукцию
      <span>
        по всему миру
      </span>
    </h2>
    <div class="supply__row">
      <div class="supply__column">
        <div class="supply__column-title">Китай</div>
        <ul class="supply__column-list">
          <li><a href="javascript:void(0);" class="supply__column-link">масло</a></li>
        </ul>
      </div>
      <div class="supply__column">
        <div class="supply__column-title">Япония</div>
        <ul class="supply__column-list">
          <li><a href="javascript:void(0);" class="supply__column-link">масло</a></li>
          <li><a href="javascript:void(0);" class="supply__column-link">пшено</a></li>
          <li><a href="javascript:void(0);" class="supply__column-link">рыба</a></li>
        </ul>
      </div>
      <div class="supply__column supply__column--two">
        <div class="supply__column-title">Малайзия</div>
        <ul class="supply__column-list">
          <li><a href="javascript:void(0);" class="supply__column-link">пшено</a></li>
          <li><a href="javascript:void(0);" class="supply__column-link">ферросцилий</a></li>
          <li><a href="javascript:void(0);" class="supply__column-link">рыба</a></li>
          <li><a href="javascript:void(0);" class="supply__column-link">масло</a></li>
          <li><a href="javascript:void(0);" class="supply__column-link">пшено</a></li>
        </ul>
      </div>
      <div class="supply__column supply__column--two">
        <div class="supply__column-title">Тайвань</div>
        <ul class="supply__column-list">
          <li><a href="javascript:void(0);" class="supply__column-link">масло</a></li>
        </ul>
      </div>
      <div class="supply__column">
        <div class="supply__column-title">Тайланд</div>
        <ul class="supply__column-list">
          <li><a href="javascript:void(0);" class="supply__column-link">масло</a></li>
          <li><a href="javascript:void(0);" class="supply__column-link">пшено</a></li>
        </ul>
      </div>
      <div class="supply__column">
        <div class="supply__column-title">Корея</div>
        <ul class="supply__column-list">
          <li><a href="javascript:void(0);" class="supply__column-link">масло</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>