<section class="work">
  <div class='work__container'>
    <div class="work__inner">
      <div data-tabs data-tabs-animate="800" class="work__content tabs">
        <div class="work__pages">
          <nav class="work__list tabs__navigation" data-tabs-titles>
            <button type="button" class="work__link tabs__title _tab-active">Работа у нас</button>
            <button type="button" class="work__link tabs__title">Производство</button>
            <button type="button" class="work__link tabs__title">Офис</button>
            <button type="button" class="work__link tabs__title">IT и digital</button>
            <button type="button" class="work__link tabs__title">Молодым специалистам</button>
          </nav>
        </div>
        <div data-tabs-body class="work__body tabs__content">
          <div class="work__column tabs__body">
            <div class="work__row">
              <div class="work__column">
                <div class="work__column-title _title">Обучение и развитие</div>
                <div class="work__column-text">
                  <p>
                    Мы заинтересованы в том, чтобы наши сотрудники развивались. Для этого мы пишем курсы, проводим
                    аттестации, составляем планы обучения и отправляем сотрудников на профильные конференции и семинары.
                  </p>
                  <p>
                    Для новичков действует программа адаптации: знакомим с коллективом и компанией, отвечаем на вопросы
                    и
                    поддерживаем во время испытательного срока. У каждого есть наставник, который помогает разобраться в
                    информации и обучает тонкостям работы. Всё это — чтобы сотрудникам было легко влиться в коллектив.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/01-s.webp, ./img/work/01-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/01-m.webp, ./img/work/01-m@2x.webp 2x">
                    <img src="./img/work/01.webp" srcset="./img/work/01@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">карьерный рост</div>
                <div class="work__column-text">
                  <p>
                    Наши сотрудники работают в команде, вместе развивают идеи, осваивают новые направления и улучшают
                    процессы. Например, наши аналитики, программисты и HR-специалисты вместе работают над проектом
                    развития
                    персонала.
                  </p>
                  <p>
                    Сотрудники могут попасть в кадровый резерв, получить повышение, стать менеджером проекта,
                    параллельно
                    развиваться в другой сфере или перейти в другой отдел. Всё это — чтобы мотивированные и талантливые
                    сотрудники чувствовали себя хорошо.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/02-s.webp, ./img/work/02-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/02-m.webp, ./img/work/02-m@2x.webp 2x">
                    <img src="./img/work/02.webp" srcset="./img/work/02@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">отдых</div>
                <div class="work__column-text">
                  <p>
                    Отдыхать мы тоже умеем: проводим спортивные соревнования, отмечаем профессиональные праздники,
                    собираемся после работы на чай и пиццу и выезжаем на природу.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/03-s.webp, ./img/work/03-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/03-m.webp, ./img/work/03-m@2x.webp 2x">
                    <img src="./img/work/03.webp" srcset="./img/work/03@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="work__column tabs__body">
            <div class="work__row">
              <div class="work__column">
                <div class="work__column-title _title">Производство</div>
                <div class="work__column-text">
                  <p>
                    Мы не боимся экспериментов и нестандартных решений, однако заботимся о каждом сотруднике, его
                    безопасности и комфортных условиях труда. Ценим и уважаем опыт, прислушиваемся к новым идеям — и
                    вместе совершенствуем производственные процессы.
                  </p>

                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/01-s.webp, ./img/work/01-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/01-m.webp, ./img/work/01-m@2x.webp 2x">
                    <img src="./img/work/01.webp" srcset="./img/work/01@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">карьерный рост</div>
                <div class="work__column-text">
                  <p>
                    Наши сотрудники работают в команде, вместе развивают идеи, осваивают новые направления и улучшают
                    процессы. Например, наши аналитики, программисты и HR-специалисты вместе работают над проектом
                    развития
                    персонала.
                  </p>
                  <p>
                    Сотрудники могут попасть в кадровый резерв, получить повышение, стать менеджером проекта,
                    параллельно
                    развиваться в другой сфере или перейти в другой отдел. Всё это — чтобы мотивированные и талантливые
                    сотрудники чувствовали себя хорошо.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/02-s.webp, ./img/work/02-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/02-m.webp, ./img/work/02-m@2x.webp 2x">
                    <img src="./img/work/02.webp" srcset="./img/work/02@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">отдых</div>
                <div class="work__column-text">
                  <p>
                    Отдыхать мы тоже умеем: проводим спортивные соревнования, отмечаем профессиональные праздники,
                    собираемся после работы на чай и пиццу и выезжаем на природу.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/03-s.webp, ./img/work/03-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/03-m.webp, ./img/work/03-m@2x.webp 2x">
                    <img src="./img/work/03.webp" srcset="./img/work/03@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="work__column tabs__body">
            <div class="work__row">
              <div class="work__column">
                <div class="work__column-title _title">Обучение и развитие</div>
                <div class="work__column-text">
                  <p>
                    Мы заинтересованы в том, чтобы наши сотрудники развивались. Для этого мы пишем курсы, проводим
                    аттестации, составляем планы обучения и отправляем сотрудников на профильные конференции и семинары.
                  </p>
                  <p>
                    Для новичков действует программа адаптации: знакомим с коллективом и компанией, отвечаем на вопросы
                    и
                    поддерживаем во время испытательного срока. У каждого есть наставник, который помогает разобраться в
                    информации и обучает тонкостям работы. Всё это — чтобы сотрудникам было легко влиться в коллектив.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/01-s.webp, ./img/work/01-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/01-m.webp, ./img/work/01-m@2x.webp 2x">
                    <img src="./img/work/01.webp" srcset="./img/work/01@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">карьерный рост</div>
                <div class="work__column-text">
                  <p>
                    Наши сотрудники работают в команде, вместе развивают идеи, осваивают новые направления и улучшают
                    процессы. Например, наши аналитики, программисты и HR-специалисты вместе работают над проектом
                    развития
                    персонала.
                  </p>
                  <p>
                    Сотрудники могут попасть в кадровый резерв, получить повышение, стать менеджером проекта,
                    параллельно
                    развиваться в другой сфере или перейти в другой отдел. Всё это — чтобы мотивированные и талантливые
                    сотрудники чувствовали себя хорошо.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/02-s.webp, ./img/work/02-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/02-m.webp, ./img/work/02-m@2x.webp 2x">
                    <img src="./img/work/02.webp" srcset="./img/work/02@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">отдых</div>
                <div class="work__column-text">
                  <p>
                    Отдыхать мы тоже умеем: проводим спортивные соревнования, отмечаем профессиональные праздники,
                    собираемся после работы на чай и пиццу и выезжаем на природу.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/03-s.webp, ./img/work/03-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/03-m.webp, ./img/work/03-m@2x.webp 2x">
                    <img src="./img/work/03.webp" srcset="./img/work/03@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="work__column tabs__body">
            <div class="work__row">
              <div class="work__column">
                <div class="work__column-title _title">Обучение и развитие</div>
                <div class="work__column-text">
                  <p>
                    Мы заинтересованы в том, чтобы наши сотрудники развивались. Для этого мы пишем курсы, проводим
                    аттестации, составляем планы обучения и отправляем сотрудников на профильные конференции и семинары.
                  </p>
                  <p>
                    Для новичков действует программа адаптации: знакомим с коллективом и компанией, отвечаем на вопросы
                    и
                    поддерживаем во время испытательного срока. У каждого есть наставник, который помогает разобраться в
                    информации и обучает тонкостям работы. Всё это — чтобы сотрудникам было легко влиться в коллектив.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/01-s.webp, ./img/work/01-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/01-m.webp, ./img/work/01-m@2x.webp 2x">
                    <img src="./img/work/01.webp" srcset="./img/work/01@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">карьерный рост</div>
                <div class="work__column-text">
                  <p>
                    Наши сотрудники работают в команде, вместе развивают идеи, осваивают новые направления и улучшают
                    процессы. Например, наши аналитики, программисты и HR-специалисты вместе работают над проектом
                    развития
                    персонала.
                  </p>
                  <p>
                    Сотрудники могут попасть в кадровый резерв, получить повышение, стать менеджером проекта,
                    параллельно
                    развиваться в другой сфере или перейти в другой отдел. Всё это — чтобы мотивированные и талантливые
                    сотрудники чувствовали себя хорошо.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/02-s.webp, ./img/work/02-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/02-m.webp, ./img/work/02-m@2x.webp 2x">
                    <img src="./img/work/02.webp" srcset="./img/work/02@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">отдых</div>
                <div class="work__column-text">
                  <p>
                    Отдыхать мы тоже умеем: проводим спортивные соревнования, отмечаем профессиональные праздники,
                    собираемся после работы на чай и пиццу и выезжаем на природу.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/03-s.webp, ./img/work/03-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/03-m.webp, ./img/work/03-m@2x.webp 2x">
                    <img src="./img/work/03.webp" srcset="./img/work/03@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div>
          <div class="work__column tabs__body">
            <div class="work__row">
              <div class="work__column">
                <div class="work__column-title _title">Обучение и развитие</div>
                <div class="work__column-text">
                  <p>
                    Мы заинтересованы в том, чтобы наши сотрудники развивались. Для этого мы пишем курсы, проводим
                    аттестации, составляем планы обучения и отправляем сотрудников на профильные конференции и семинары.
                  </p>
                  <p>
                    Для новичков действует программа адаптации: знакомим с коллективом и компанией, отвечаем на вопросы
                    и
                    поддерживаем во время испытательного срока. У каждого есть наставник, который помогает разобраться в
                    информации и обучает тонкостям работы. Всё это — чтобы сотрудникам было легко влиться в коллектив.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/01-s.webp, ./img/work/01-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/01-m.webp, ./img/work/01-m@2x.webp 2x">
                    <img src="./img/work/01.webp" srcset="./img/work/01@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">карьерный рост</div>
                <div class="work__column-text">
                  <p>
                    Наши сотрудники работают в команде, вместе развивают идеи, осваивают новые направления и улучшают
                    процессы. Например, наши аналитики, программисты и HR-специалисты вместе работают над проектом
                    развития
                    персонала.
                  </p>
                  <p>
                    Сотрудники могут попасть в кадровый резерв, получить повышение, стать менеджером проекта,
                    параллельно
                    развиваться в другой сфере или перейти в другой отдел. Всё это — чтобы мотивированные и талантливые
                    сотрудники чувствовали себя хорошо.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/02-s.webp, ./img/work/02-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/02-m.webp, ./img/work/02-m@2x.webp 2x">
                    <img src="./img/work/02.webp" srcset="./img/work/02@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
              <div class="work__column">
                <div class="work__column-title _title">отдых</div>
                <div class="work__column-text">
                  <p>
                    Отдыхать мы тоже умеем: проводим спортивные соревнования, отмечаем профессиональные праздники,
                    собираемся после работы на чай и пиццу и выезжаем на природу.
                  </p>
                </div>
                <div class="work__column-img">
                  <picture>
                    <source media="(max-width: 767px)" srcset="./img/work/03-s.webp, ./img/work/03-s@2x.webp 2x">
                    <source media="(max-width: 992px)" srcset="./img/work/03-m.webp, ./img/work/03-m@2x.webp 2x">
                    <img src="./img/work/03.webp" srcset="./img/work/03@2x.webp 2x" alt="">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>







      <div class="work__vacan">
        <div class="work__aside">
          <div class="work__aside-title">Вакансии</div>
          <ul class="work__aside-list">
            <li><a href="javascript:void(0);" class="work__aside-link _active">Все</a></li>
            <li><a href="javascript:void(0);" class="work__aside-link">Производство</a></li>
            <li><a href="javascript:void(0);" class="work__aside-link">Офис</a></li>
            <li><a href="javascript:void(0);" class="work__aside-link">IT и digital</a></li>
          </ul>
          <div class="work__aside-items">
            <a href="javascript:void(0);" class="work__aside-item item-work">
              <div class="item-work__top">
                <div class="item-work__title">Офис</div>
                <div class="item-work__text">г. Чита, АО «СГМК»</div>
              </div>
              <div class="item-work__inner">
                <div class="item-work__subtitle">Руководитель коммерческого отдела</div>
                <div class="item-work__value">50 000 ₽</div>
              </div>
            </a>
            <a href="javascript:void(0);" class="work__aside-item item-work">
              <div class="item-work__top">
                <div class="item-work__title">Производство</div>
                <div class="item-work__text">г. Чита, АО «СГМК»</div>
              </div>
              <div class="item-work__inner">
                <div class="item-work__subtitle">Автослесарь</div>
                <div class="item-work__value">по результатам собеседования</div>
              </div>
            </a>
            <a href="javascript:void(0);" class="work__aside-item item-work">
              <div class="item-work__top">
                <div class="item-work__title">IT и digital</div>
                <div class="item-work__text">г. Чита, АО «СГМК»</div>
              </div>
              <div class="item-work__inner">
                <div class="item-work__subtitle">Тестировщик</div>
                <div class="item-work__value">80 000 ₽</div>
              </div>
            </a>
            <a href="javascript:void(0);" class="work__aside-item item-work">
              <div class="item-work__top">
                <div class="item-work__title">IT и digital</div>
                <div class="item-work__text">г. Чита, АО «СГМК»</div>
              </div>
              <div class="item-work__inner">
                <div class="item-work__subtitle">Разработчик</div>
                <div class="item-work__value">по результатам собеседования</div>
              </div>
            </a>
            <a href="javascript:void(0);" class="work__aside-item item-work">
              <div class="item-work__top">
                <div class="item-work__title">IT и digital</div>
                <div class="item-work__text">г. Чита, АО «СГМК»</div>
              </div>
              <div class="item-work__inner">
                <div class="item-work__subtitle">Тестировщик</div>
                <div class="item-work__value">80 000 ₽</div>
              </div>
            </a>
            <a href="javascript:void(0);" class="work__aside-item item-work">
              <div class="item-work__top">
                <div class="item-work__title">IT и digital</div>
                <div class="item-work__text">г. Чита, АО «СГМК»</div>
              </div>
              <div class="item-work__inner">
                <div class="item-work__subtitle">Разработчик</div>
                <div class="item-work__value">по результатам собеседования</div>
              </div>
            </a>
          </div>
          <a href="javascript:void(0);" class="work__aside-more btn">Все вакансии</a>
        </div>
      </div>
    </div>

  </div>

</section>