<section class="story js-video-trigger js-area">
	<div class='story__container'>
		<h2 class="story__title _title">история компании</h2>
		<div class="story__sliders">
			<div class="story__year swiper js-slider-year">
				<div class="story__year-swiper swiper-wrapper">
					<div class="story__year-slide swiper-slide">
						<div class="story__year-text">
							2007-2009
						</div>
					</div>
					<div class="story__year-slide swiper-slide">
						<div class="story__year-text">
							2010-2012
						</div>
					</div>
					<div class="story__year-slide swiper-slide">
						<div class="story__year-text">
							2013-2015
						</div>
					</div>
					<div class="story__year-slide swiper-slide">
						<div class="story__year-text">
							2016-2018
						</div>
					</div>
					<div class="story__year-slide swiper-slide">
						<div class="story__year-text">
							2019-2021
						</div>
					</div>
					<div class="story__year-slide swiper-slide">
						<div class="story__year-text">
							2022-2023
						</div>
					</div>
				</div>
			</div>
			<div class="story__info swiper js-slider-info">
				<div class="story__info-swiper swiper-wrapper">
					<div class="story__info-slide swiper-slide">
						<div class="story__info-inner">
							<div class="story__info-content">
								<div class="story__info-row">
									<div class="story__info-column">
										<div class="story__info-title">2010 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2011 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2012 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="story__info-slider swiper js-slider-company">
								<div class="story__info-wrapper swiper-wrapper">
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="story__info-pagging"></div>
							</div>
						</div>
					</div>
					<div class="story__info-slide swiper-slide">
						<div class="story__info-inner">
							<div class="story__info-content">
								<div class="story__info-row">
									<div class="story__info-column">
										<div class="story__info-title">2010 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2011 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2012 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="story__info-slider swiper js-slider-company">
								<div class="story__info-wrapper swiper-wrapper">
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="story__info-pagging"></div>
							</div>
						</div>
					</div>
					<div class="story__info-slide swiper-slide">
						<div class="story__info-inner">
							<div class="story__info-content">
								<div class="story__info-row">
									<div class="story__info-column">
										<div class="story__info-title">2010 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2011 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2012 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="story__info-slider swiper js-slider-company">
								<div class="story__info-wrapper swiper-wrapper">
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="story__info-pagging"></div>
							</div>
						</div>
					</div>
					<div class="story__info-slide swiper-slide">
						<div class="story__info-inner">
							<div class="story__info-content">
								<div class="story__info-row">
									<div class="story__info-column">
										<div class="story__info-title">2010 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2011 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2012 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="story__info-slider swiper js-slider-company">
								<div class="story__info-wrapper swiper-wrapper">
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="story__info-pagging"></div>
							</div>
						</div>
					</div>
					<div class="story__info-slide swiper-slide">
						<div class="story__info-inner">
							<div class="story__info-content">
								<div class="story__info-row">
									<div class="story__info-column">
										<div class="story__info-title">2010 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2011 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2012 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="story__info-slider swiper js-slider-company">
								<div class="story__info-wrapper swiper-wrapper">
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="story__info-pagging"></div>
							</div>
						</div>
					</div>
					<div class="story__info-slide swiper-slide">
						<div class="story__info-inner">
							<div class="story__info-content">
								<div class="story__info-row">
									<div class="story__info-column">
										<div class="story__info-title">2010 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2011 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
									<div class="story__info-column">
										<div class="story__info-title">2012 год</div>
										<div class="story__info-text">
											<p>
												Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в
												контуре всех принципов ESG повестки, использует технологии опережающего развития
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="story__info-slider swiper js-slider-company">
								<div class="story__info-wrapper swiper-wrapper">
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
									<div class="story__info-gallery swiper-slide">
										<picture>
											<source media="(max-width: 767px)" srcset="./img/story/01-s.webp, ./img/story/01-s@2x.webp 2x">
											<source media="(max-width: 992px)" srcset="./img/story/01-m.webp, ./img/story/01-m@2x.webp 2x">
											<img src="./img/story/01.webp" srcset="./img/story/01@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="story__info-pagging"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>