<section class="info">
  <div class='info__container'>
    <div class="info__title _title">контакты</div>
    <div class="info__text">
      <p>
        Общие коммерческие предложения и презентации потенциальных поставщиков, а также предложения <br> и замечания по
        работе службы снабжения могут быть направлены на электронный адрес:
      </p>
    </div>
    <a href="mailto:d.snab@sgmk-group.com" class="info__link _title">d.snab@sgmk-group.com</a>
    <div class="info__row">
      <div class="info__column info__column--decor">
        <div class="info__items">
          <div class="info__item">
            <div class="info__item-title">
              Приемная дирекция по снабжению
            </div>
            <a href="tel:+73843328547" class="info__item-link" style='--icon:url("../img/icons/14.svg")'>8 (3843)
              32-85-47</a>
          </div>
          <div class="info__item">
            <div class="info__item-title">
              Адрес для почтовой корреспонденции
            </div>
            <address class="info__item-link" style='--icon:url("../img/icons/15.svg")'>654041,
              Кемеровская обл. - Кузбасс, г. Новокузнецк, <br> ул. Кутузова, д. 37а, пом. 406</address>
          </div>
        </div>
      </div>
      <div class="info__column">
        <div class="info__items">
          <div class="info__item">
            <div class="info__item-title">
              Отдел инвестиций
            </div>
            <div class="info__item-text">
              Закупаемые товарные категории: технически сложная техника для реализации инвестиционных проектов
            </div>
            <div class="info__item-name">
              Виктория Битюцкая
            </div>
            <div class="info__item-post">Начальник отдела</div>
            <a href="tel:+73843328547" class="info__item-link" style='--icon:url("../img/icons/14.svg")'>8 (3843)
              32-85-47, вн. 3760</a>
          </div>
          <div class="info__item">
            <div class="info__item-title">
              Отдел оборудования
            </div>
            <div class="info__item-text">
              Закупаемые товарные категории: механическое и электротехническое оборудование, запасные части и
              комплектующие к нему
            </div>
            <div class="info__item-name">
              Яна Вострикова
            </div>
            <div class="info__item-post">Начальник отдела</div>
            <a href="tel:+73843328547" class="info__item-link" style='--icon:url("../img/icons/14.svg")'>8 (3843)
              32-85-47, вн. 3769</a>
          </div>
        </div>
      </div>
      <div class="info__column">
        <div class="info__items">
          <div class="info__item">
            <div class="info__item-title">
              Отдел материалов
            </div>
            <div class="info__item-text">
              Закупаемые товарные категории: материалы для ведения <br> операционной деятельности
            </div>
            <div class="info__item-name">
              Наталья Иванова
            </div>
            <div class="info__item-post">Начальник отдела</div>
            <a href="tel:+73843328547" class="info__item-link" style='--icon:url("../img/icons/14.svg")'>8 (3843)
              32-85-47, вн. 3654</a>
          </div>
          <div class="info__item">
            <div class="info__item-title">
              Отдел снабжения Западно-Сибирского Электрометаллургического Завода (ЗСЭМЗ)
            </div>
            <div class="info__item-text">
              Закупаемые товарные категории: минеральное сырье (уголь, руда,кварциты)
            </div>
            <div class="info__item-name">
              Евгения Андрюкова
            </div>
            <div class="info__item-post">Начальник отдела</div>
            <a href="tel:+73843328547" class="info__item-link" style='--icon:url("../img/icons/14.svg")'>8 (3843)
              32-85-47, вн. 3786</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>