<section class="contacts">
  <div class='contacts__container'>
    <div class="contacts__inner">
      <div class="contacts__content">
        <h2 class="contacts__title _title">контакты</h2>
        <ul class="contacts__list">
          <li><a href="mailto:sales@sgmk-group.ru" class="contacts__link"
              style='--icon:url("../img/icons/11.svg")'>sales@sgmk-group.ru</a></li>
          <li><a href="javascript:void(0);" class="contacts__link" style='--icon:url("../img/icons/12.svg")'>Кемеровская
              область, г. Новокузнецк, ул. Чайкиной,
              д. 15</a></li>
        </ul>
      </div>
      <div class="contacts__map map" id="map" data-key="Ваш API ключ" data-center="[55.779324, 37.581623]"
        data-icon="Ссылка на иконку"></div>
    </div>
  </div>
</section>