<section class="bumph">
	<div class='bumph__container'>
		<h2 class="bumph__title _titleTwo">Документы</h2>
		<div class="bumph__row">
			<div class="bumph__column">
				<div class="bumph__column-content">
					<time datetime="2016-11-18T09:54" class="bumph__column-date">22.09.2022</time>
					<div class="bumph__column-text">Политика в области обеспечения качества</div>
				</div>
				<a href="javascript:void(0);" class="bumph__column-link" style='--icon:url("../img/icons/13.svg")'>Скачать</a>
			</div>
			<div class="bumph__column">
				<div class="bumph__column-content">
					<time datetime="2016-11-18T09:54" class="bumph__column-date">22.09.2022</time>
					<div class="bumph__column-text">Финансовые показатели компании за 2022 год</div>
				</div>
				<a href="javascript:void(0);" class="bumph__column-link" style='--icon:url("../img/icons/13.svg")'>Скачать</a>
			</div>

			<div class="bumph__column">
				<div class="bumph__column-content">
					<time datetime="2016-11-18T09:54" class="bumph__column-date">22.09.2022</time>
					<div class="bumph__column-text">Финансовые показатели компании за 2021 год</div>
				</div>
				<a href="javascript:void(0);" class="bumph__column-link" style='--icon:url("../img/icons/13.svg")'>Скачать</a>
			</div>
		</div>
	</div>
</section>