<section class="purchase">
	<div class='purchase__container'>

		<div class="purchase__content">
			<div class="purchase__title _title">
				Действующие <br> процедуры закупок
			</div>
			<div class="purchase__text">
				<p>
					Компания СГМК осуществляет закупки товаров <br> на электронной торговой площадке b2b
				</p>
			</div>
			<a href="javascript:void(0);" class="purchase__link btn btn--whte">Перейти на торговую площадку</a>
		</div>
		<div class="purchase__img">
			<picture>
				<source media="(max-width: 767px)" srcset="./img/purchase/01-s.webp, ./img/purchase/01-s@2x.webp 2x">
				<source media="(max-width: 992px)" srcset="./img/purchase/01-m.webp, ./img/purchase/01-m@2x.webp 2x">
				<img src="./img/purchase/01.webp" srcset="./img/purchase/01@2x.webp 2x" alt="">
			</picture>
		</div>
	</div>
</section>