<section class="contribution js-area">
	<div class='contribution__container'>
		<div class="contribution__top">
			<h2 class="contribution__title _title">вклад в экологию</h2>
			<div class="contribution__slider swiper js-slider-contribution">
				<div class="contribution__swiper swiper-wrapper">
					<div class="contribution__slide swiper-slide">
						<div class="contribution__slide-title">
							Производство полного цикла
						</div>
						<div class="contribution__slide-text">
							Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
							всех принципов ESG повестки, использует технологии опережающего развития
						</div>
					</div>
					<div class="contribution__slide swiper-slide">
						<div class="contribution__slide-title">
							Производство полного цикла
						</div>
						<div class="contribution__slide-text">
							Сеть франчайзи СГМК. Занимается сбором и переработкой отходов лома черных и цветных металлов
						</div>
					</div>
					<div class="contribution__slide swiper-slide">
						<div class="contribution__slide-title">
							Производство полного цикла
						</div>
						<div class="contribution__slide-text">
							Единственный в России производитель особо чистых премиальных видов ферросилиция. Предприятие в контуре
							всех принципов ESG повестки, использует технологии опережающего развития
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="contribution__inner">
			<div class="contribution__photos swiper js-slider-photos">
				<div class="contribution__swiper swiper-wrapper">
					<div class="contribution__photo swiper-slide">
						<picture>
							<source media="(max-width: 767px)" srcset="./img/contribution/01-s.webp, ./img/contribution/01-s@2x.webp 2x">
							<source media="(max-width: 992px)" srcset="./img/contribution/01-m.webp, ./img/contribution/01-m@2x.webp 2x">
							<img src="./img/contribution/01.webp" srcset="./img/contribution/01@2x.webp 2x" alt="">
						</picture>
					</div>
					<div class="contribution__photo swiper-slide">
						<picture>
							<source media="(max-width: 767px)" srcset="./img/contribution/02-s.webp, ./img/contribution/02-s@2x.webp 2x">
							<source media="(max-width: 992px)" srcset="./img/contribution/02-m.webp, ./img/contribution/02-m@2x.webp 2x">
							<img src="./img/contribution/02.webp" srcset="./img/contribution/02@2x.webp 2x" alt="">
						</picture>
					</div>
					<div class="contribution__photo swiper-slide">
						<picture>
							<source media="(max-width: 767px)" srcset="./img/contribution/02-s.webp, ./img/contribution/02-s@2x.webp 2x">
							<source media="(max-width: 992px)" srcset="./img/contribution/02-m.webp, ./img/contribution/02-m@2x.webp 2x">
							<img src="./img/contribution/02.webp" srcset="./img/contribution/02@2x.webp 2x" alt="">
						</picture>
					</div>
				</div>
				<div class="contribution__arrows swiper__arrows">
					<button type="button" class="contribution__arrow contribution__arrow--prev swiper__arrow swiper__arrow--prev" style='--icon:url("../img/icons/01.svg")'></button>
					<button type="button" class="contribution__arrow contribution__arrow--next swiper__arrow swiper__arrow--next" style='--icon:url("../img/icons/02.svg")'></button>
				</div>
			</div>
		</div>
	</div>
</section>